.card{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    word-wrap: break-word;
    margin: 1%;
}
.cardImg{
    width: 100%;
}

.cardHead {
    margin: 0px;
    font-size: 80%;
}
.author{
    color: #6a6f73;
    overflow: hidden;
    font-size: 13px;
    word-wrap: break-word;
}

#stars{
    color: orange;
}
.checked {
    color: orange;
}
.ratingNum{
    color: #b4690e;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    margin-right: 0.4rem;
    font-weight: 700;

}
.studentsNum{
    color: #6a6f73;
    margin-left: 0.4rem;
    font-size: 70%;
}

.current{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
}

.prev{
    color: #6a6f73;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    text-decoration: line-through;
}

.best{
    display: inline-block;
    width: 50%;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    font-size: 90%;
    background-color: #eceb98;
    color: #3d3c0a;
    text-align: center;
}